---
import Layout from '@/layouts/Layout.astro';
import Matchup from '@/components/Matchup.astro';

const pb = Astro.locals.pb;
const matchups = await pb
  .collection('matchups')
  .getFullList({ sort: '-time_utc' });
---

<Layout title='Matchups'>
  <h1 class='text-4xl font-bold'>Matchups</h1>
  <div class='grid grid-cols-1 gap-2'>
    {
      matchups.map((matchup) => (
        <a href={`/matchups/${matchup.id}`}>
          <Matchup matchup={matchup} />
        </a>
      ))
    }
  </div>
</Layout>
