---
import Layout from '@/layouts/Layout.astro';
import Matchup from '@/components/Matchup/Matchup.astro';
import { Button } from '@/components/ui/button';
import MatchupsList from '@/components/Matchup/MatchupsList.astro';
import { getCodePrefixFromDate } from '@/lib/data_common';

const pb = Astro.locals.pb;

const codePrefix = getCodePrefixFromDate(new Date());

const matchups = await pb.collection('matchups').getFullList({
  filter: `id ?~ "${codePrefix}"`,
  sort: 'time_utc,code',
});
---

<Layout title='W Picks | Today'>
  <h1 class='text-4xl py-6 font-bold'>Today's Matchups</h1>

  <div class='grid grid-cols-1 gap-2 max-w-md'>
    {
      matchups.length ? (
        <MatchupsList matchups={matchups} />
      ) : (
        <p class='py-8'>No matchups today</p>
      )
    }
    <a href='/matchups'>
      <Button className='w-full'>View all matchups</Button>
    </a>
  </div>
</Layout>
