---
import Layout from '@/layouts/Layout.astro';
import { AvatarSection } from '@/components/Profile/AvatarSection';

const { user } = Astro.locals;
---

<Layout title='Profile'>
  <div class='flex flex-col items-center space-y-4'>
    <AvatarSection user={user} client:only='react' />
  </div>
</Layout>
