---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import Emoji1 from '@/assets/emojis/emoji1.png';
import Emoji2 from '@/assets/emojis/emoji2.gif';
import Emoji3 from '@/assets/emojis/emoji3.gif';
import Emoji4 from '@/assets/emojis/emoji4.png';
import Emoji5 from '@/assets/emojis/emoji5.gif';
import Emoji6 from '@/assets/emojis/emoji6.jpg';

const emojis = [Emoji1, Emoji2, Emoji3, Emoji4, Emoji5, Emoji6];

interface Props {
  error: unknown;
}

const { error } = Astro.props;

const message = error instanceof Error ? error.message : 'Unknown error';
console.error('500 Page Error:', error);

const selectedEmoji = emojis[Math.floor(Math.random() * emojis.length)];
---

<Layout title='Error'>
  <div class='flex flex-col items-center justify-center h-[80vh] gap-4'>
    <h1 class='text-xl lg:text-4xl font-bold'>{message}</h1>
    <Image
      class='border rounded-md shadow-lg w-96 h-auto'
      src={selectedEmoji}
      alt='Emoji'
    />
  </div>
</Layout>
