---
import Layout from '@/layouts/Layout.astro';
import { LoginSignupForm } from '@/components/LoginSignupForm';
// import { z } from 'astro/zod';

const pageTitle = 'Login';
const { pb } = Astro.locals;

// const formSchema = z.object({
//   email: z.string().email(),
//   password: z.string().min(6),
//   authType: z.enum(['login', 'signup']),
// });

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const email = formData.get('email');
  const password = formData.get('password');

  try {
    const authData = await pb
      .collection('users')
      .authWithPassword(email, password);
    console.log('Auth Data', authData);
  } catch (e) {
    console.log('Login error:', e.message);
    return new Response(
      JSON.stringify({ error: 'Invalid email or password' }),
      {
        status: 400,
        headers: {
          'Content-Type': 'application/json',
        },
      }
    );
  }

  return Astro.redirect('/');
  if (authType === 'signup') {
    console.log('Signup Data', email, password);
  }
}
---

<Layout title={pageTitle}>
  <div class='flex justify-center w-full'>
    <LoginSignupForm client:load />
  </div>
</Layout>
