---
import Layout from '@/layouts/Layout.astro';
import { LoginSignupForm } from '@/components/LoginSignupForm';

export const prerender = false;
const pageTitle = 'Login/Signup';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const email = formData.get('email');
  const password = formData.get('password');

  const authData = await Astro.locals.pb
    .collection('users')
    .authWithPassword(email, password);
  return Astro.redirect('/');
  if (authType === 'signup') {
    console.log('Signup Data', email, password);
  }
}
---

<Layout title={pageTitle}>
  <div class='flex justify-center w-full'>
    <LoginSignupForm client:load />
  </div>
</Layout>
