---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import { Image } from 'astro:assets';
import BrandLogo from '@/assets/brand/logo-hires-uncropped.webp';
import { ThemeToggle } from './ThemeToggle';
import { UserDropdown } from './UserDropdown';

const { pb, user } = Astro.locals;
const isAuthed = pb.authStore.isValid;
---

<header class='border-b'>
  <div class='lg:flex justify-between p-2 gap-4 mx-auto'>
    <Astronav closeOnClick>
      <div class='flex w-fulllg:w-auto justify-between items-center'>
        <a class='flex flex-row gap-4 items-center' href='/'>
          <Image
            class='rounded-xl w-[50px] h-[50px]'
            src={BrandLogo}
            alt='W Picks Logo'
            width={256}
            height={256}
            loading='eager'
          />
          <h2 class='font-bold text-3xl'>W Picks</h2>
        </a>
        <div class='block lg:hidden'>
          <MenuIcon class='text-foreground' />
        </div>
      </div>
      <MenuItems class='hidden lg:flex'>
        <ul
          class='flex flex-col gap-4 text-xl p-2 text-right lg:items-center lg:flex-row lg:text-left'
        >
          <li>
            <a href='/seed'>Seed Database</a>
          </li>
          <li>
            <a href='/matchups/today'>Today</a>
          </li>
          <li>
            <a href='/matchups'>Matchups</a>
          </li>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            {
              isAuthed ? (
                <UserDropdown user={user} client:load />
              ) : (
                <a href='/login'>Login</a>
              )
            }
          </li>
          <li>
            <ThemeToggle client:load />
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>
