---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
  OpenIcon,
  CloseIcon,
} from 'astro-navbar';
import { Image } from 'astro:assets';
import BrandLogo from '@/assets/brand/logo-hires-uncropped.webp';
import { ThemeToggle } from '@/components/ThemeToggle';

const pb = Astro.locals.pb;
const isAuthed = pb.authStore.isValid;
---

<header class='border-b'>
  <div class='lg:flex justify-between p-2 gap-4 mx-auto'>
    <Astronav closeOnClick>
      <div class='flex w-fulllg:w-auto justify-between items-center'>
        <a class='flex flex-row gap-4 items-center' href='/'>
          <Image
            class='rounded-xl'
            src={BrandLogo}
            alt='W Picks Logo'
            height={50}
            width={50}
          />
          <h2 class='font-bold text-3xl'>W Picks</h2>
        </a>
        <div class='block lg:hidden'>
          <MenuIcon class='text-foreground' />
        </div>
      </div>
      <MenuItems class='hidden lg:flex'>
        <ul
          class='flex flex-col gap-4 p-2 text-right lg:items-center lg:flex-row lg:text-left'
        >
          <li>
            <a class='text-xl' href='/seed'>Seed Database</a>
          </li>
          <li>
            <a class='text-xl' href='/matchups/today'>Today</a>
          </li>
          <li>
            <a class='text-xl' href='/matchups'>Matchups</a>
          </li>
          <li>
            <a class='text-xl' href='/'>Home</a>
          </li>
          <li>
            {
              isAuthed ? (
                <a class='text-xl' href='/logout'>
                  Logout
                </a>
              ) : (
                <a class='text-xl' href='/login'>
                  Login
                </a>
              )
            }
          </li>
          <li>
            <ThemeToggle client:load />
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>
