---
import Logo from '@/components/NBA/Logo.astro';
import { TeamMap } from './NBA/teamMap';
import { MatchupType } from '@/lib/definitions';

const { matchup } = Astro.props;

const result = MatchupType.safeParse(matchup);
if (!result.success) {
  console.error('Invalid matchup data:', result.error);
  return;
}

const { away_code, home_code, time_utc } = result.data;
const gameTime = new Date(Date.parse(time_utc.replace(' ', 'T')));
const homeTeamShort = TeamMap[home_code].name_short;
const awayTeamShort = TeamMap[away_code].name_short;
console.log('Matchup:', matchup);
---

<div class='p-4 flex flex-row justify-between max-w-md rounded-xl shadow-xl'>
  <div class='basis-5/12 grow flex flex-col text-center'>
    <Logo tricode={away_code} class='h-32' />
    <p class='text-2xl font-bold'>{awayTeamShort}</p>
  </div>
  <div class='basis-2/12 flex flex-col items-center justify-center text-center'>
    <p class='text-md font-bold'>
      {gameTime.toLocaleString('en-US', { weekday: 'short' }).toUpperCase()}
    </p>
    <p class='text-sm font-semibold'>
      {
        gameTime
          .toLocaleString('en-US', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
          })
          .replace(' AM', 'a')
          .replace(' PM', 'p')
      }
    </p>
  </div>
  <div class='basis-5/12 flex flex-col items-center text-center'>
    <Logo tricode={home_code} class='h-32' />
    <p class='text-2xl font-bold'>{homeTeamShort}</p>
  </div>
</div>
